/*!
 * milanelsen.com
 * Copyright 2021 Milan Elsen
 * Created by Milan Elsen on 05.03.21.
 */

.iphone-screenshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
    margin-bottom: 60px;
    width: 349px;
}

.half-screenshot {
	margin-left: 20px;
	margin-top: 10px;
    width: 300px;
}

@media only screen and (max-width: 360px) {
.half-screenshot {
	margin-left: 10px;
	margin-top: 10px;
    width: 240px;
}
}

@media (max-width: 767.98px) {
        .app-info :nth-child(1) { order: 2; }
        
        .iphone-screenshot {
     		margin-top: 60px;
		}
		
		.app-icon {
 		  	width: 40px;
   			height: 40px;
		}

}

#bottom-fixed {
        position: absolute;
        bottom: 0;
		height: 100%
}

.app-icon {
	width: auto;
	height: auto;
    max-width: 100px;
    max-height: 100px;
    min-width: 40px;
    min-height: 40px;
    margin-bottom: 20px;
}

.app-description {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left:15px;
    align-self: top !important;
    
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width:100%
    
}

.feature-title {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.features {
    grid-area: c;
    display: flex;
    flex: 0 1 auto;
    align-content: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-top:93px
}

.feature {
    display: flex;
    padding-top: 63px;
    padding-left: 15px;
    padding-right: 15px;
    width:calc(100%/3)
}

.iconBack {
    color:#e6e6e6
}

.iconTop {
    color:#1d63ea
}

.socialIconBack {
    color:#e6e6e6
}

.socialIconTop {
    color:#666
}


.featureText {
    display: block;
}

@media only screen and (max-width: 992px) {
	.app-info {
     	width: 100%;
	}

    .features {
        flex-grow: 1;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top:11px
    }
    
    .feature {
        display: flex;
        padding-top: 41px;
        padding-left: 15px;
        padding-right: 15px;
        width:100%;
    }
    
    .feature:nth-child(-n + 3) {
        padding-top:41px
    }
    
    .feature:nth-child(1) {
        padding-top:0px
    }
    
    .feature:nth-child(3n) {
        padding-right:15px
    }
    
    .feature:nth-child(3n + 1) {
        padding-left:15px
    }
    
    .iphone-screenshot {
		display: block;
 		margin-bottom: 60px;
		width: 349px;
	}

}

@media only screen and (max-width: 375px) {
    .features {
        flex-grow: 1;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top:11px
    }
    
    .feature {
        display: flex;
        padding-top: 41px;
        padding-left: 0px;
        padding-right: 0px;
        width:100%
    }
    
    .feature:nth-child(-n + 3) {
        padding-top:41px
    }
    
    .feature:nth-child(1) {
        padding-top:0px
    }
    
    .feature:nth-child(3n) {
        padding-right:0px
    }
    
    .feature:nth-child(3n + 1) {
        padding-left:0px
    }
    
    .iphone-screenshot {
		display: block;
 		margin-bottom: 60px;
		width: 349px;
		max-width: 100%;
	}
}

.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
    color: white;
	justify-content: center;
	align-items: center;
}


all.css:1:303.fa-1x {
    font-size: 1em;
}

.madewith-section {
	font-family: "SF Mono", "Roboto Mono", "Courier", "Andale Mono", monospace;
    color: #86868b;
} 

.icon {
	fill: white;
}

.circle {
	margin-top: 1em;
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    background-color: #86868b;
    border-radius: 50%;
    z-index: -1;
    justify-content: center;
	align-items: center;
}

ul.noindent{
   margin: 0;
   padding: 0; /* Set the distance from the list edge to 1x the font size */
   list-style-position: outside;
   list-style-image: none;
}

.madewith-listitem {
	margin-left: 0;
	font-weight: 800;
}

html, body {
    max-width: 100%;
}

.feature-title {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.features {
    grid-area: c;
    display: flex;
    flex: 0 1 auto;
    align-content: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-top:93px
}

.feature {
    display: flex;
    padding-top: 63px;
    padding-left: 15px;
    padding-right: 15px;
    width:calc(100%/3)
}

.feature:nth-child(-n + 3) {
    padding-top:0px
}

.feature:nth-child(3n) {
    padding-right:0px
}

.feature:nth-child(3n + 1) {
    padding-left:0px
}

.fe-639a3ae5bc1749234cf1c48e {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(47,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
}

@media (min-width: 768px) {
  .background-width--inset .fe-639a3ae5bc1749234cf1c48e {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-639a3ae5bc1749234cf1c48e {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(16,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-a44ecf12ba20e58ee8a3 {
    grid-area: 1/2/14/10;
    z-index: 1;
  }

  .fe-block-a44ecf12ba20e58ee8a3 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-a44ecf12ba20e58ee8a3 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-a44ecf12ba20e58ee8a3 {
      grid-area: 1/2/16/10;
      z-index: 1;
    }

    .fe-block-a44ecf12ba20e58ee8a3 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-a44ecf12ba20e58ee8a3 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-507ac49f99e9652ccd52 {
    grid-area: 15/2/31/10;
    z-index: 2;
  }

  .fe-block-507ac49f99e9652ccd52 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-507ac49f99e9652ccd52 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-507ac49f99e9652ccd52 {
      grid-area: 1/10/16/18;
      z-index: 2;
    }

    .fe-block-507ac49f99e9652ccd52 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-507ac49f99e9652ccd52 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-ea0d411dc4cf89c84de2 {
    grid-area: 32/2/48/10;
    z-index: 3;
  }

  .fe-block-ea0d411dc4cf89c84de2 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-ea0d411dc4cf89c84de2 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-ea0d411dc4cf89c84de2 {
      grid-area: 1/18/8/26;
      z-index: 3;
    }

    .fe-block-ea0d411dc4cf89c84de2 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-ea0d411dc4cf89c84de2 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

.fe-639a3cb37c40754f7bc03bd6 {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(19,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
}

@media (min-width: 768px) {
  .background-width--inset .fe-639a3cb37c40754f7bc03bd6 {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-639a3cb37c40754f7bc03bd6 {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(12,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-511090b6853b88b2348f {
    grid-area: 1/2/5/10;
    z-index: 1;
  }

  .fe-block-511090b6853b88b2348f .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-511090b6853b88b2348f .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-511090b6853b88b2348f {
      grid-area: 1/2/4/13;
      z-index: 1;
    }

    .fe-block-511090b6853b88b2348f .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-511090b6853b88b2348f .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-40144255b79e9daa6685 {
    grid-area: 6/6/10/10;
    z-index: 7;
  }

  .fe-block-40144255b79e9daa6685 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-40144255b79e9daa6685 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-40144255b79e9daa6685 {
      grid-area: 5/18/11/21;
      z-index: 7;
    }

    .fe-block-40144255b79e9daa6685 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-40144255b79e9daa6685 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-5a0c95453596e52f731f {
    grid-area: 6/2/10/6;
    z-index: 6;
  }

  .fe-block-5a0c95453596e52f731f .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-5a0c95453596e52f731f .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-5a0c95453596e52f731f {
      grid-area: 5/15/11/18;
      z-index: 6;
    }

    .fe-block-5a0c95453596e52f731f .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-5a0c95453596e52f731f .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-9d0d6cc492c7a16596bb {
    grid-area: 10/2/13/10;
    z-index: 5;
  }

  .fe-block-9d0d6cc492c7a16596bb .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-9d0d6cc492c7a16596bb .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-9d0d6cc492c7a16596bb {
      grid-area: 4/14/5/23;
      z-index: 5;
    }

    .fe-block-9d0d6cc492c7a16596bb .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-9d0d6cc492c7a16596bb .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-42ec4e3b03916919e6c5 {
    grid-area: 13/2/16/10;
    z-index: 6;
  }

  .fe-block-42ec4e3b03916919e6c5 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-42ec4e3b03916919e6c5 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-42ec4e3b03916919e6c5 {
      grid-area: 11/14/12/23;
      z-index: 6;
    }

    .fe-block-42ec4e3b03916919e6c5 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-42ec4e3b03916919e6c5 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-a287f796dd1af6723aea {
    grid-area: 16/6/20/10;
    z-index: 8;
  }

  .fe-block-a287f796dd1af6723aea .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-a287f796dd1af6723aea .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-a287f796dd1af6723aea {
      grid-area: 5/21/11/24;
      z-index: 8;
    }

    .fe-block-a287f796dd1af6723aea .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-a287f796dd1af6723aea .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

.fe-639b6c45fdbfd62b5e47e96c {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(2,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
}

@media (min-width: 768px) {
  .background-width--inset .fe-639b6c45fdbfd62b5e47e96c {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-639b6c45fdbfd62b5e47e96c {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(2,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


