/*!
 * milanelsen.com
 * Copyright 2021 Milan Elsen
 * Created by Milan Elsen on 03.03.21.
 */
:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif:  "Helvetica Neue", -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Arial, "Noto Sans", -sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*, :after, :before {
    box-sizing:border-box
}

html {
    font-family: var(--font-family-sans-serif);
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color:transparent
}

footer, header, nav, privacy-policy-section, section {
    display:block
}

body {
    margin: 0;
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline:0 !important
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom:.5rem
}

p {
    margin-top: 0;
    margin-bottom:1rem
}

ul {
    margin-bottom:1rem;
    list-style: none;
}

.ul, policy-changes {
    list-style: round !important
}

ul {
    margin-top:1rem
}

ul ul {
    margin-bottom:0
}

a {
    text-decoration: none;
    background-color:transparent
}

a:hover {
    color: #225829;
    text-decoration:underline
}

a:not([href]), a:not([href]):hover {
    color: #225829;
    text-decoration:underline
}

img {
    border-style:none
}

img {
    vertical-align: middle;
}

[type=button], [type=reset], [type=submit] {
    -webkit-appearance:button
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor:pointer
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    padding: 0;
    border-style:none
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height:auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance:none
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance:none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance:button
}

[hidden] {
    display:none !important
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height:1.2
}

.h1, h1 {
    font-size:2.5rem
}

.h2, h2 {
    font-size:2rem
}

.h3, h3 {
    font-size:1.75rem
}

.h4, h4 {
    font-size:1.5rem
}

.h5, h5 {
    font-size:1.25rem
}

.h6, h6 {
    font-size:1rem
}

.list-inline {
    padding-left: 0;
    list-style:none
}

.list-inline-item {
    display:inline-block
}

.list-inline-item:not(:last-child) {
    margin-right:.5rem
}

.list-privacy {
	list-style-type: disc;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left:auto
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

.container-lg, .container-md {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left:auto
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container, .container-md {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md {
        max-width:1140px
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left:-15px
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left:15px;
    align-self: center;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width:100%
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width:100%
}

.col-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width:8.33333%
}

.col-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width:16.66667%
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width:25%
}

.col-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width:33.33333%
}

.col-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width:41.66667%
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width:50%
}

.col-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width:58.33333%
}

.col-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width:66.66667%
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width:75%
}

.col-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width:83.33333%
}

.col-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width:91.66667%
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width:100%
}

@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width:100%
    }
    
    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width:100%
    }
    
    .col-md-1 {
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width:8.33333%
    }
    
    .col-md-2 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width:16.66667%
    }
    
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width:25%
    }
    
    .col-md-4 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width:33.33333%
    }
    
    .col-md-5 {
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width:41.66667%
    }
    
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width:50%
    }
    
    .col-md-7 {
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width:58.33333%
    }
    
    .col-md-8 {
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width:66.66667%
    }
    
    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width:75%
    }
    
    .col-md-10 {
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width:83.33333%
    }
    
    .col-md-11 {
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width:91.66667%
    }
    
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width:100%
    }
}

@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width:100%
    }
    
    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width:100%
    }
    
    .col-lg-1 {
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width:8.33333%
    }
    
    .col-lg-2 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width:16.66667%
    }
    
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width:25%
    }
    
    .col-lg-4 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width:33.33333%
    }
    
    .col-lg-5 {
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width:41.66667%
    }
    
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width:50%
    }
    
    .col-lg-7 {
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width:58.33333%
    }
    
    .col-lg-8 {
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width:66.66667%
    }
    
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width:75%
    }
    
    .col-lg-10 {
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width:83.33333%
    }
    
    .col-lg-11 {
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width:91.66667%
    }
    
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width:100%
    }
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style:none
}

.nav-link {
    display: block;
    padding:.5rem 1rem
}

.nav-link:focus, .nav-link:hover {
    text-decoration:none
}

.navbar {
    position: relative;
    padding:.5rem 1rem
}

.navbar, .navbar .container, .navbar .container-lg, .navbar .container-md {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content:space-between
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space:nowrap
}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration:none
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style:none
}

.navbar-nav.active {}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left:0
}

.navbar-text {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom:.5rem
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items:center
}


@media (max-width: 767.98px) {
    .navbar-expand-md > .container, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-md {
        padding-right: 0;
        padding-left:0
    }
    
    .navbar-collapse {
        display: none;
    }
    
    .navbar-collapse.active {
        display: block;
    }
    
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    	padding-top: .3125rem;
   		padding-bottom: .3125rem;
   		width: 1.25rem;
   		height: 1.25rem;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    .menu-btn__burger {
        width: 1.25rem;
        height: 0.2rem;
        background: #fff;
        border-radius: 5px;
        transition: all .2s ease-in-out;
    }
    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 1.25rem;
        height: 0.2rem;
        background: #fff;
        border-radius: 5px;
        transition: all .2s ease-in-out;
    }
    .menu-btn__burger::before {
        transform: translateY(0.4rem);
    }
    .menu-btn__burger::after {
        transform: translateY(-0.4rem);
    }
    /* ANIMATION */
    .menu-btn.active .menu-btn__burger {
        transform: translateX(50px);
        background: transparent;
    }
    .menu-btn.active .menu-btn__burger::before {
        transform: rotate(45deg) translate(-35px, 35px);
    }
    .menu-btn.active .menu-btn__burger::after {
        transform: rotate(-45deg) translate(-35px, -35px);
    }
}

@media (min-width: 768px) {
    .navbar-expand-md {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content:flex-start
    }
    
    .navbar-expand-md .navbar-nav {
        -ms-flex-direction: row;
        flex-direction:row
    }
    
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left:.5rem
    }
    
    .navbar-expand-md > .container, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-md {
        -ms-flex-wrap: nowrap;
        flex-wrap:nowrap
    }
    
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis:auto
    }
}

@media (max-width: 991.98px) {
    .navbar-expand-lg > .container, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-md {
        padding-right: 0;
        padding-left:0
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content:flex-start
    }
    
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction:row
    }
    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left:.5rem
    }
    
    .navbar-expand-lg > .container, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-md {
        -ms-flex-wrap: nowrap;
        flex-wrap:nowrap
    }
    
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis:auto
    }
}

.navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content:flex-start
}

.navbar-expand > .container, .navbar-expand > .container-lg, .navbar-expand > .container-md {
    padding-right: 0;
    padding-left:0
}

.navbar-expand .navbar-nav {
    -ms-flex-direction: row;
    flex-direction:row
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left:.5rem
}

.navbar-expand > .container, .navbar-expand > .container-lg, .navbar-expand > .container-md {
    -ms-flex-wrap: nowrap;
    flex-wrap:nowrap
}

.navbar-expand .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis:auto
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color:rgba(0, 0, 0, .9)
}

.navbar-light .navbar-nav .nav-link {
    color:rgba(0, 0, 0, .5)
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:rgba(0, 0, 0, .7)
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color:rgba(0, 0, 0, .9)
}

.navbar-light .navbar-text {
    color:rgba(0, 0, 0, .5)
}

.navbar-light .navbar-text a, .navbar-light .navbar-text a:focus, .navbar-light .navbar-text a:hover {
    color:rgba(0, 0, 0, .9)
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #42dca3;
    background-color: #fff;
    border:1px solid #dee2e6
}

.page-link:hover {
    z-index: 2;
    color: #21b17b;
    text-decoration: none;
    background-color: #e9ecef;
    border-color:#dee2e6
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow:0 0 0 .2rem rgba(66, 220, 163, .25)
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius:.25rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius:.25rem
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #42dca3;
    border-color:#42dca3
}

@-webkit-keyframes a {
    0% {
        background-position:1rem 0
    }
    
    to {
        background-position:0 0
    }
}

@keyframes a {
    0% {
        background-position:1rem 0
    }
    
    to {
        background-position:0 0
    }
}

@-webkit-keyframes b {
    to {
        -webkit-transform: rotate(1turn);
        transform:rotate(1turn)
    }
}

@keyframes b {
    to {
        -webkit-transform: rotate(1turn);
        transform:rotate(1turn)
    }
}

@-webkit-keyframes c {
    0% {
        -webkit-transform: scale(0);
        transform:scale(0)
    }
    
    50% {
        opacity:1
    }
}

@keyframes c {
    0% {
        -webkit-transform: scale(0);
        transform:scale(0)
    }
    
    50% {
        opacity:1
    }
}

.bg-light {
    background-color:#f8f9fa !important
}

a.bg-light:focus, a.bg-light:hover {
    background-color:#dae0e5 !important
}

.fixed-top {
    top:0
}

.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index:1030
}

@supports ((position: -webkit-sticky) or(position: sticky)) {
    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index:1020
    }
}

.h-25 {
    height:25% !important
}

.h-50 {
    height:50% !important
}

.h-75 {
    height:75% !important
}

.h-100 {
    height:100% !important
}

.h-auto {
    height:auto !important
}

.ml-0 {
    margin-left:0 !important
}

.ml-1 {
    margin-left:.25rem !important
}

.ml-2 {
    margin-left:.5rem !important
}

.ml-3 {
    margin-left:1rem !important
}

.ml-4 {
    margin-left:1.5rem !important
}

.ml-5 {
    margin-left:3rem !important
}

.p-0 {
    padding:0 !important
}

.p-1 {
    padding:.25rem !important
}

.p-2 {
    padding:.5rem !important
}

.p-3 {
    padding:1rem !important
}

.p-4 {
    padding:1.5rem !important
}

.p-5 {
    padding:3rem !important
}

.ml-auto {
    margin-left:auto !important
}

@media (min-width: 768px) {
    .ml-md-0 {
        margin-left:0 !important
    }
    
    .ml-md-1 {
        margin-left:.25rem !important
    }
    
    .ml-md-2 {
        margin-left:.5rem !important
    }
    
    .ml-md-3 {
        margin-left:1rem !important
    }
    
    .ml-md-4 {
        margin-left:1.5rem !important
    }
    
    .ml-md-5 {
        margin-left:3rem !important
    }
    
    .p-md-0 {
        padding:0 !important
    }
    
    .p-md-1 {
        padding:.25rem !important
    }
    
    .p-md-2 {
        padding:.5rem !important
    }
    
    .p-md-3 {
        padding:1rem !important
    }
    
    .p-md-4 {
        padding:1.5rem !important
    }
    
    .p-md-5 {
        padding:3rem !important
    }
    
    .ml-md-auto {
        margin-left:auto !important
    }
}

@media (min-width: 992px) {
    .ml-lg-0 {
        margin-left:0 !important
    }
    
    .ml-lg-1 {
        margin-left:.25rem !important
    }
    
    .ml-lg-2 {
        margin-left:.5rem !important
    }
    
    .ml-lg-3 {
        margin-left:1rem !important
    }
    
    .ml-lg-4 {
        margin-left:1.5rem !important
    }
    
    .ml-lg-5 {
        margin-left:3rem !important
    }
    
    .p-lg-0 {
        padding:0 !important
    }
    
    .p-lg-1 {
        padding:.25rem !important
    }
    
    .p-lg-2 {
        padding:.5rem !important
    }
    
    .p-lg-3 {
        padding:1rem !important
    }
    
    .p-lg-4 {
        padding:1.5rem !important
    }
    
    .p-lg-5 {
        padding:3rem !important
    }
    
    .ml-lg-auto {
        margin-left:auto !important
    }
}

.text-left {
    text-align:left !important
}

@media (min-width: 768px) {
    .text-md-left {
        text-align:left !important
    }
}

@media (min-width: 992px) {
    .text-lg-left {
        text-align:left !important
    }
}

.text-light {
    color:#f8f9fa !important
}

a.text-light:focus, a.text-light:hover {
    color:#cbd3da !important
}

.text-body {
    color:#212529 !important
}

@media print {
    *, :after, :before {
        text-shadow: none !important;
        box-shadow:none !important
    }
    
    img {
        page-break-inside:avoid
    }
    
    h2, h3, p {
        orphans: 3;
        widows:3
    }
    
    h2, h3 {
        page-break-after:avoid
    }
    
    @page {
        size:a3
    }
    
    .container, body {
        min-width:992px !important
    }
    
    .navbar {
        display:none
    }
}

body {
    font-family: var(--font-family-sans-serif);
    position: relative;
    color: #fff;
    background-color:#000
}

body, html {
    width: 100%;
    height:100%
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-sans-serif);
    font-weight: 700;
    margin: 0 0 35px;
    letter-spacing: 1px;
    text-transform:uppercase
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin:0 0 25px
}

@media (min-width: 768px) {
    p {
        font-size: 18px;
        line-height: 1.6;
        margin:0 0 35px
    }
}

a {
    transition: all .2s ease-in-out;
    color:#6e2cba
}


a:focus, a:hover {
    text-decoration: none;
}

#mainNav {
    font-family: var(--font-family-sans-serif);
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid hsla(0, 0%, 100%, .3);
    background-color:#000
}

#mainNav .navbar-brand {
    font-weight:700
}

#mainNav a {
    color:#fff
}

#mainNav .navbar-nav .nav-item {
    transition:background .3s ease-in-out
}

#mainNav .navbar-nav .nav-item:hover {
    color:fade(#fff, 80%)
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus, #mainNav .navbar-nav .nav-item:hover {
    outline: 0;
    background-color:transparent
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
        letter-spacing: 1px;
        border-bottom: none;
        background:0 0
    }
    
    #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid hsla(0, 0%, 100%, .3);
        background:#000
    }
    
    #mainNav .nav-link.active {
        outline: 0;
        background-color:hsla(0, 0%, 100%, .3)
    }
    
    #mainNav .nav-link.active:hover {
        color:#fff
    }
}

.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: #fff;
    background-color: #000;
    background-size:cover
}

.masthead .intro-body {
    display: table-cell;
    vertical-align:middle
}

.masthead .intro-body .intro-text {
    font-size:18px
}

@media (min-width: 768px) {
    .masthead {
        height: 100%;
        padding:0
    }
    
    .masthead .intro-body .intro-text {
        font-size:22px
    }
}

.content-section {
    padding-top: 150px;
    padding-bottom:150px
    max-width: 100%;
}

@media (min-width: 992px) {
    .content-section {
        padding-top: 200px;
        padding-bottom:200px
    }
}

footer {
    padding:50px 0
}

footer p {
    font-size: 14px;
    margin:0
}

::-moz-selection {
    background: #fcfcfc;
    background: hsla(0, 0%, 100%, .2);
    text-shadow:none
}

::selection {
    background: #fcfcfc;
    background: hsla(0, 0%, 100%, .2);
    text-shadow:none
}

img::selection {
    background:0 0
}

img::-moz-selection {
    background:0 0
}

.privacy-policy-section {
    font-family: var(--font-family-sans-serif);
    max-width: 800px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: left;
    padding-left: 40px;
    padding-right:40px
}

.privacy-policy-section.p {
    font-family: var(--font-family-sans-serif);
}

#copyright {
    scroll-margin-top: 200px;
    -webkit-scroll-margin-top: 200px;
}

.imprint-section {
    font-family: var(--font-family-sans-serif);
    max-width: 800px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: left;
    padding-left: 40px;
    padding-right:40px
}

.social {
    text-align: center;
    margin: 2px 2px;
    font-size: 30px;
    fill:black;
    min-width: 24px;
    justify-content: center; align-items: center;
}

.social-mail:hover {
    transition: fill .2s ease-in-out;
    fill:#007AFF
}

.social-twitter:hover {
    transition: fill .2s ease-in-out;
    
    fill:#55acee
}

.social-insta:hover {
    transition: fill .2s ease-in-out;
    fill: url(#insta-gradient) #962FBF;
}

.social-snap:hover {
    transition: fill .2s ease-in-out;
    
    fill:#fffc00
}

.social-github:hover {
    transition: fill .2s ease-in-out;
    
    transition: fill .2s ease-in-out;
    
    fill:#666666
}

.overflow1 { transition: all .2s ease-in-out; }
.overflow2 { transition: all .2s ease-in-out; }
#stackoverflow-link:hover polygon.overflow1 { fill: #BBBBBB; }
#stackoverflow-link:hover path.overflow2 { fill: #F58025; }


#tiktok {
	justify-content: center;
	align-items: center;
	margin-left: -4px; 
}

svg.tiktok {
	transition: all .2s ease-in-out;
}

.tiktok-color {
}

.tiktok-black {
	margin-left: -28px; 
}

#tiktok       svg.tiktok-black { opacity: 1; }
#tiktok:hover svg.tiktok-black { opacity: 0; }

#tiktok       svg.tiktok-color { opacity: 0; }
#tiktok:hover svg.tiktok-color { opacity: 1; }



.social-capsule {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #ddd;
    padding: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    max-height: 50px;
    max-width: 330px;
    min-width: 280px;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 500px;
    margin-top: 20px;
    align-self: left !important;
    justify-content: center;
    align-items: center;
}

.projects {margin-left: 60px;}

.drinking {
    margin-top: 100px;
}    

.about {
    //margin-right: 10%;
    
    position: relative;
    width: 350px;
    // padding-right: 15px;
    padding-left:15px;
    align-self: top !important;
    
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    
}


@media only screen and (max-width: 991.98px) {
    .info {
        flex-grow: 1;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top:11px
        max-width:30%
        
    }
    
    .projects {
        margin-left: auto;
        margin-top: 100px;
    }
    
    .about {
        margin-right: auto;
        width: 70%;
    }
    
    hr.projectline {
        border-top: 1px solid green;
    }
    
}


hr.projectline {
    border: none
}



.bw-caption {
    text-transform: uppercase;
    color: #fff;
    padding: 0px 0 21px;
}



.divider {
    color: #6e2cba;
    padding-left: 20px;
    padding-right: 20px;
}

.bw-beta-link {
}

.bw-app-store-link {
    height: 50px;
}

html, body, section {
    max-width: 100%;
      scroll-behavior: smooth;
}
